.glide__arrow,.glide__bullet--active {
    background-color: #012c57;
}
.glide__arrow--right {
    right: -2em;
}
.glide__arrow--left {
    left: -2em;
}
.glide__bullets{
    bottom: -2em;
    display: none;
}
@media only screen and (max-width: 1100px){
    .glide__arrow{
        display: none;
    }
    .glide__bullets{
        display: block;
    }
}

.hero{
    background-image: url('./../../../public/images/IMG-20240202-WA0020.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.btn{
    background-color: #fbca00;
    border: 0;
}
.btn:hover{
    background-color: #012c57;
}
h1{
    font-size: 3.5rem;
}